<section>
  <h1>Log in</h1>
  <!-- <p>Don't have an account? <%= link_to "Sign up!", signup_path %></p> -->

  <%= form_tag sessions_path do %>
    <p>
      <%= label_tag :login, "Username or email" %><br />
      <%= text_field_tag :login, params[:login] %>
    </p>
    <p>
      <%= label_tag :password %><br />
      <%= password_field_tag :password %>
    </p>
    <p><%= submit_tag "Log in" %></p>
  <% end %>

  <p><%= link_to 'â† home', root_path %></p>

</section>
