<%= form_for(@non_smoking_bar) do |f| %>
  <% if @non_smoking_bar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@non_smoking_bar.errors.count, "error") %> prohibited this non_smoking_bar from being saved:</h2>

      <ul>
      <% @non_smoking_bar.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city, :readonly => true %>
  </div>
  <div class="field">
    <%= f.label :neighbourhood %><br />
    <%= f.text_field :neighbourhood %>
  </div>
  <div class="field">
    <%= f.label 'has a decent non-smoking area (not entirely smoke-free)' %><br />
    <%= f.check_box :partly %>
  </div>
  <div class="actions">
    <%= f.submit params[:action] == 'edit' ? 'Update' : 'Save' %>
  </div>
<% end %>
