<h1>Non-smoking bars in Zagreb</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Neighbourhood</th>
    <!-- <th>City</th> -->
    <!-- <th>Partly</th> -->
    <th></th>
    <th></th>
  </tr>

<% @non_smoking_bars.each do |non_smoking_bar| %>
  <tr>
    <td><%= non_smoking_bar.name %></td>
    <td><%= non_smoking_bar.address %></td>
    <td><%= non_smoking_bar.neighbourhood %></td>
    <!-- <td><%= non_smoking_bar.city %></td> -->
    <!-- <td><%= non_smoking_bar.partly %></td> -->
    <td><%= link_to 'Edit', edit_non_smoking_bar_path(non_smoking_bar) %></td>
    <td><%= link_to 'Destroy', non_smoking_bar, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add a new bar', new_non_smoking_bar_path %>

<p id="notice"><%= notice %></p>
