<h1>Smoke-free bars in Zagreb</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Neighbourhood</th>
    <!-- <th>City</th> -->
    <!-- <th>Partly</th> -->
    <% if logged_in? %>
    <th></th>
    <th></th>
    <% end %>
  </tr>

<% @non_smoking_bars.each do |non_smoking_bar| %>
  <tr>
    <td><%= non_smoking_bar.name %></td>
    <td><%= non_smoking_bar.address %></td>
    <td><%= non_smoking_bar.neighbourhood %></td>
    <!-- <td><%= non_smoking_bar.city %></td> -->
    <!-- <td><%= non_smoking_bar.partly %></td> -->
    <% if logged_in? %>
    <td><%= link_to 'Edit', edit_non_smoking_bar_path(non_smoking_bar) %></td>
    <td><%= link_to 'Delete', non_smoking_bar, confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<% if logged_in? %>
  <%= link_to 'Add a smoke-free bar', new_non_smoking_bar_path %>
<% else %>
  <p>Know a place not listed here? Send an email to
    <a href="mailto:dev@ivana.im?subject=Smoke-free bars">dev@ivana.im</a> to contribute!
  </p>
<% end %>

<p id="notice"><%= notice %></p>

<footer>
  <p class="vcard">Developed by
    <a class="fn n url" href="http://ivana.im" lang="hr">
      <span class="given-name">Ivana</span> <span class="family-name">Vasilj</span>
    </a>
    (<a href="http://twitter.com/ivanavasilj">@ivanavasilj</a> on twitter),
    with joyful contributions from friends = other cigarette smoke haters.
  </p>
  <p><a href="http://github.com/ivana/smokefreebars">Open-sourced on GitHub</a>.</p>
</footer>
