<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @non_smoking_bar.name %>
</p>

<p>
  <b>Address:</b>
  <%= @non_smoking_bar.address %>
</p>

<p>
  <b>City:</b>
  <%= @non_smoking_bar.city %>
</p>

<p>
  <b>Neighbourhood:</b>
  <%= @non_smoking_bar.neighbourhood %>
</p>

<p>
  <b>Partly:</b>
  <%= @non_smoking_bar.partly %>
</p>


<%= link_to 'Edit', edit_non_smoking_bar_path(@non_smoking_bar) %> |
<%= link_to 'Home', root_path %>
