<!DOCTYPE html>
<html>
<head>
  <title>Non-smoking bars in Zagreb</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<p><% if logged_in? %>
  Welcome <%= current_user.username %>.
  <%= link_to "Edit profile", edit_current_user_path %> or
  <%= link_to "Log out", logout_path %>
<% else %>
  <%= link_to "Sign up", signup_path %> or
  <%= link_to "log in", login_path %>.
<% end %></p>

<%= yield %>

</body>
</html>
