<!DOCTYPE html>
<html>
<head>
  <title>Smoke-free bars in Zagreb</title>

  <link href="http://fonts.googleapis.com/css?family=Pinyon+Script" rel="stylesheet">

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <h1><span>Smoke-free</span> bars in Zagreb</h1>

<p>
  <%= link_to 'Home', root_path %> |

  <% if logged_in? %>
    Logged in as <%= link_to current_user.username, edit_current_user_path %>,
    <%= link_to "log out", logout_path %>
  <% else %>
    <%= link_to "Login", login_path %>
  <% end %>
</p>

<%= yield %>

</body>
</html>
