<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="author" lang="hr" content="Ivana Vasilj, dev@ivana.im" />
  <meta name="viewport" content="initial-scale=0.5" />

  <title>Smoke-free bars in Zagreb</title>

  <link href="http://fonts.googleapis.com/css?family=Pinyon+Script" rel="stylesheet" type="text/css">

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <meta name="description" content="List of smoke-free bars and cafés in Zagreb">
</head>

<body>
  <h1><span class="cursive">Smoke-free</span> <span>bars in</span> <span>Zagreb</span></h1>

  <nav>
    <ol>
      <!-- <li><%= link_to 'Home', root_path %></li> -->
      <% if logged_in? %>
        <li><%= link_to "Edit profile", edit_current_user_path %></li>
        <li><%= link_to "Log out", logout_path %></li>
      <% else %>
        <li><%= link_to "Login", login_path %></li>
      <% end %>
    </ol>
  </nav>

  <%= yield %>

  <footer>
    <ul>
      <li class="vcard">Developed by
        <a class="fn n url" href="http://ivana.im" lang="hr"><span class="given-name">Ivana</span> <span class="family-name">Vasilj</span></a>,
        <a href="http://twitter.com/ivanavasilj">@ivanavasilj</a> on twitter.
      </li>
      <li>Maintained by friends = other cigarette smoke haters.</li>
      <li>Open-sourced <a href="http://github.com/ivana/smokefreebars">on GitHub</a>.</li>
    </ul>
  </footer>

  <script>

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-5355510-6']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</body>
</html>
